/******************************************************************************
 * .WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
html {
    padding: 0;   
}
body {
    margin: 0;
}
header{
    
    /*min-height: 400px;
    background-image: url('../img/monkaa_title.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
}
header ul {
    list-style-type: none;
    padding: 0;
}
 
#social {
    background: pink;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 25px;
    transition: 2s width;
}
#social:hover {
    width: 250px;
  
}
#social ul {
    list-style-type: none;
    padding: 0;
}
#social li {
    margin: 0;
    padding: 0;
    
}
