/******************************************************************************
 * .WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/
html {
    padding: 0; 
    background-color: #708090;
    color: #222930;
    font-family: Georgia;
    font-size: 115%;
    
}
body {
    margin: 0;
}
/*header{
    
    <video width="65%" height="25%" autoplay loop>
                <source src="media/video/flying_monkey_loop.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2"> 
           </video>  
    /*min-height: 400px;
    background-image: url('../img/monkaa_title.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;*/
}
header, ul {
    list-style-type: none;
    padding: 0;
}

h1, nav, li, footer{
    display: inline;
    list-style-type: none;
}
 .subtitle    {
  
    background-color: #6495ED;
    height: 50px;
    width:  500px;
    padding 75px;
    border: 0.2rem solid #222930;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
  
    background-color: #6495ED;
    height: 50px;
    width:  150px;
    padding 75px;
    border-top: 0.2rem inset #222930;
    border-radius: .25rem;
    position: absolute;
    top: 150px;
    left: 0;
}

p.subtitle {
  
    background-color: #6495ED;
    height: 50px;
    width:  250px;
    padding 75px;
    border-bottom: 0.2rem outset #222930;
    border-radius: .25rem;
    position: absolute;
    top: 200px;
    left: 0;
  
}
  

.main-nav {
    background-color: #6495ED;
    height: 50px;
    width:  175px;
    padding 75px;
    border: 0.2rem solid #222930;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
}

.lead {
    font-size: 125%;
    background-color: #DDDDDD;
    color: #222930;
    height: 100px;
    width:  1000px;
    padding 75px;
    border: 0.2rem solid #222930;
    border-radius: 1rem;
    margin: 25px;
}


.weybec-people img{
      
      width: 300px;
      height: 300px; 
      margin-top: 5rem;
      margin-left: 50px;
      border: 0.2rem solid #222930;
}
  
.weybec-people p{
  
    font-size: 125%;
    background-color: #DDDDDD;
    color: #222930;
    height: 100px;
    width:  1000px;
    padding 75px;
    border: 0.2rem solid #222930;
    border-radius: 1rem;
    margin: 25px;
  
}
    
  
   
  

#social {
    background: #DDDDDD;
    position: absolute;
    top: 50px;
    right: 0px;
    width: 50px;
    transition: 1s width;
    padding 25px;
    border: 0.2rem solid #222930;
    border-radius: 1rem;
}
#social:hover {
    width: 250px;
  
}
#social ul {
    list-style-type: none;
    padding: 0;
}
#social li {
    margin: 0;
    padding: 0;
    
}

a:link {
      color: #8FBC8F;
}

/* visited link */
a:visited {
      color: rgb(128, 0, 0);
}

/* mouse over link */
a:hover {
      color: #FF7F50;
}

/* selected link */
a:active {
      color: #DDDDDD;
}